<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-4">Bienvenue sur Eventbrite-Like !</h1>
    <p class="lead">Vous allez pouvoir retrouver les évènements proches de chez vous !</p>
  </div>
</div>

<div class="container">
  <div class="row">
    <% @events.each do |event| %>
      <div class="col-md-4">
        <h2><%= event.title %></h2>
        <p>Date: <%= event.start_date.strftime('%d %B %Y') %></p>
        <p>Prix: <%= number_to_currency(event.price) %></p>
        <%= link_to 'Voir plus', event_path(event), class: 'btn btn-primary' %>
      </div>
    <% end %>
  </div>
</div>
